
h1.header{
  color: white;
  font-size: 40px;
  margin: 0 10px 10px 0;
}
h2 {
  color: White;
  font-size: 12px;
}
img {
  width: 200px;
}
body {
  font-family: 'Lato', sans-serif;
  background-color: #820FD9;
  background-size: cover;
}
li {
  color: white;
}
p {
  color: white;
}
p.aboutme{
  color: white;
}
li.badgers{
  color: red;
}
div.heading{
  border-style: solid;
  border-color: black;
  border-width: 1px;
  padding: 200px 20px 20px 20px;
}
