.H1 {
  font-family:serif;
}
.display-3 {
  color: red;
  font-size: 56px;
  line-height: 1.07143;
  font-weight: 600;
  letter-spacing: -.005em;
}

.red-tag {
  font-size: 25px;
  font-weight: 400;
  letter-spacing: .008em;
}
.display-4 {
  color: blue;
  font-size: 56px;
  line-height: 1.07143;
  font-weight: 600;
  letter-spacing: -.005em;
}

.blue-tag {
  font-size: 25px;
  font-weight: 400;
  letter-spacing: .008em;
}
.jumbotron1 {
  background-color: mistyrose;
}

.jumbotron2 {
  background-color: paleturquoise;
  background-color: lightsteelblue;
  background-color: powderblue;
  background-color: lightcyan;

}

.c1 {
  font-size: 25px;
  font-weight: 600;
  letter-spacing: -.005em;
}


.c2 img {
    max-height: 100%;
    max-width: 100%;
}

.c3 {
  background: url("cat.jpeg") no-repeat;
  background-size:contain;
}

.c6 img {
    max-height: 100%;
    max-width: 100%;

  }



.c7 img {
    max-height: 100%;
    max-width: 100%;
}

.c8 img {
    max-height: 100%;
    max-width: 100%;
}

.card {
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
}

.titleAU {
  font-family: 'Roboto', sans-serif;
  font-size: 50px
}

.red {
  color: red;
}

.blue {
  color: blue;
}
