.display-3 {
  color: red;
  font-size: 56px;
  line-height: 1.07143;
  font-weight: 600;
  letter-spacing: -.005em;
}

.red-tag {
  font-size: 25px;
  font-weight: 400;
  letter-spacing: .008em;
}
.display-4 {
  color: blue;
  font-size: 56px;
  line-height: 1.07143;
  font-weight: 600;
  letter-spacing: -.005em;
}

.blue-tag {
  font-size: 25px;
  font-weight: 400;
  letter-spacing: .008em;
}
.jumbotron1 {
  background-color: mistyrose;
}

.jumbotron2 {
  background-color: paleturquoise;
  background-color: lightsteelblue;
  background-color: powderblue;
  background-color: lightcyan;

}

.c1 {
  font-size: 25px;
  font-weight: 600;
  letter-spacing: -.005em;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.c2 img {
    max-height: 100%;
    max-width: 100%;
}

.c3 img.resize {
    width:1000px; /* you can use % */
    height: auto;
}
