
h1.header{
  color: white;
  font-size: 40px;
}
h2 {
  color: White;
  font-size: 12px;
}
img {
  width: 200px;
}
body {
  background-color: #820FD9;
}
li {
  color: white;
}
p {
  color: white;
}
p.aboutme{
  color: white;
}
li.badgers{
  color: red;
}
